//! {{ name_pascal }} Handler
//!
//! {{ description }}
//!
//! # Subscribes
//!
{% for sub in subscribes %}
//! - `{{ sub }}`
{% endfor %}
//!
//! # Publishes
//!
{% for pub in publishes %}
//! - `{{ pub }}`
{% endfor %}

use emergent_client::helpers::run_handler;
use emergent_client::EmergentMessage;
use serde_json::json;

#[tokio::main]
async fn main() -> Result<(), Box<dyn std::error::Error>> {
    run_handler(
        Some("{{ name }}"),
        &[{% for sub in subscribes %}"{{ sub }}"{% if not loop.last %}, {% endif %}{% endfor %}],
        |msg, handler| async move {
            // TODO: Process the incoming message
            let output = EmergentMessage::new("{{ publishes[0] if publishes else "handler.output" }}")
                .with_causation_from_message(msg.id())
                .with_payload(json!({"processed": true, "original_type": msg.message_type().as_str()}));
            handler.publish(output).await.map_err(|e| e.to_string())
        }
    ).await?;

    Ok(())
}
