#!/usr/bin/env -S deno run --allow-env --allow-read --allow-net=unix
/**
 * {{ name_pascal }} Handler
 *
 * {{ description }}
 *
 * Subscribes:
{% for sub in subscribes %}
 * - {{ sub }}
{% endfor %}
 *
 * Publishes:
{% for pub in publishes %}
 * - {{ pub }}
{% endfor %}
 */

import { runHandler, createMessage } from "@govcraft/emergent";

await runHandler(
  "{{ name }}",
  [{% for sub in subscribes %}"{{ sub }}"{% if not loop.last %}, {% endif %}{% endfor %}],
  async (msg, handler) => {
    // TODO: Process the incoming message
    await handler.publish(
      createMessage("{{ publishes[0] if publishes else "handler.output" }}")
        .causedBy(msg.id)
        .payload({
          processed: true,
          originalType: msg.messageType,
        })
    );
  }
);
