#!/usr/bin/env -S deno run --allow-env --allow-read --allow-net=unix
/**
 * {{ name_pascal }} Sink
 *
 * {{ description }}
 *
 * Subscribes:
{% for sub in subscribes %}
 * - {{ sub }}
{% endfor %}
 */

import { runSink } from "@govcraft/emergent";

await runSink(
  "{{ name }}",
  [{% for sub in subscribes %}"{{ sub }}"{% if not loop.last %}, {% endif %}{% endfor %}],
  async (msg) => {
    // TODO: Process the incoming message
    console.log(`[${msg.messageType}]`, msg.payload);
  }
);
