#!/usr/bin/env -S deno run --allow-env --allow-read --allow-net=unix
/**
 * {{ name_pascal }} Sink
 *
 * {{ description }}
 *
 * Subscribes:
{% for sub in subscribes %}
 * - {{ sub }}
{% endfor %}
 */

import { EmergentSink } from "../../sdks/ts/mod.ts";

const name = Deno.env.get("EMERGENT_NAME") || "{{ name }}";
const subscribes = [{% for sub in subscribes %}"{{ sub }}"{% if not loop.last %}, {% endif %}{% endfor %}];

try {
  for await (const msg of EmergentSink.messages(name, subscribes)) {
    // TODO: Process the incoming message
    console.log(`[${msg.messageType}]`, msg.payload);
  }
} catch (err) {
  console.error("[{{ name }}] Error:", err);
  Deno.exit(1);
}
