#!/usr/bin/env python3
"""{{ name_pascal }} Sink

{{ description }}

Subscribes:
{% for sub in subscribes %}
- {{ sub }}
{% endfor %}
"""

import asyncio

from emergent import run_sink


async def consume_message(msg):
    """Process each incoming message."""
    # TODO: Add your consumption logic here
    print(f"[{msg.message_type}] {msg.payload}", flush=True)


if __name__ == "__main__":
    asyncio.run(
        run_sink(
            "{{ name }}",
            [{% for sub in subscribes %}"{{ sub }}"{% if not loop.last %}, {% endif %}{% endfor %}],
            consume_message,
        )
    )
