//! {{ name_pascal }} Sink
//!
//! {{ description }}
//!
//! # Subscribes
//!
{% for sub in subscribes %}
//! - `{{ sub }}`
{% endfor %}

use emergent_client::helpers::run_sink;

#[tokio::main]
async fn main() -> Result<(), Box<dyn std::error::Error>> {
    run_sink(
        Some("{{ name }}"),
        &[{% for sub in subscribes %}"{{ sub }}"{% if not loop.last %}, {% endif %}{% endfor %}],
        |msg| async move {
            // TODO: Process the incoming message
            println!("[{}] {:?}", msg.message_type().as_str(), msg.payload());
            Ok(())
        }
    ).await?;

    Ok(())
}
